.full{
    width: 400px;
}
.box{
    height: 80px;
    margin: 20px;
}
.box-item{
    background-color: rgb(19, 120, 203);
    border: 7px solid #f1f1f1;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 80px;
}